/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Custom properties */
:root{
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}

/* Base styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
    letter-spacing: 1px;
    transition: background-color .25s,color .25s;
    /* justify-content: center;
    align-items: center; */
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

input,
button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  outline: none;
}

i{
    font-size: var(--font-size-md);
}
/* Theme color change */
/* body.light-theme{
    --light-color: #3d3d3d;
    --light-color-alt: rgba(0,0,0,.6);
    --primary-background-color: #fff;
    --secondary-background-color: #f1f1f1;
    --hover-light-color: #fff;
    --transparent-dark-color: var(--secondary-background-color);
    --transparent-light-color: rgba(0,0,0,.1);
} */
/* Reusable classes */
.container{
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.place-items-center{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* .section:not(.featured-articles){
    padding-block: 5rem;
} */

.d-grid{
    display: grid;
}

.screen-sm-hidden{
    display: none;
}

/* .section{
    padding-block: 5rem
} */

.list{
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.menu > .list{
    flex-direction: column;
}

.btn{
    cursor: pointer;
}

/* Header */
.header{
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.logo{
    font-size: var(--font-size-md);
    color: var(--light-color);
}

/* .menu{
    position: absolute;
    top: 8.5rem;
    right: 1.5rem;
    width: 23rem;
    padding: 1.5rem;
    background-color:var(--secondary-background-color);
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s ease-in;  
} */

.list-link.current{
    color: var(--light-color);
}

.close-menu-icon{
    display: none;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.primary-navbar{
  display:flex;
    gap: var(--gap);
  list-style:none;
}

.menu-toggle-icon{
    display: none;
}

/* button hover effect */
.list-link:hover,
.btn:hover,
.btn:hover span{
    color: var(--light-color);
}

@media screen and (max-width : 70em){
    .primary-navbar{
      z-index: 9999;
      position: fixed;
      inset: 0 0 0 35%;
      padding: min(30vh, 10rem) 2em;
      gap: 1.5rem;
      
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      background: hsl(224 10% 14% / .99);
      
      transform: translateX(100%);
      transition: transform 300ms ease-out;
    }
    
    @supports (backdrop-filter: blur(3rem)){
      .primary-navbar{
        background: hsl(224 10% 14% / .7);
        backdrop-filter: blur(2.5rem);
    }
  }


  
  .primary-navbar[data-visible="true"]{
      transform: translateX(0%);
  }
  
  .menu-toggle-icon{
      display: block;
      position: relative;
      z-index: 99999;
  }
  
  .menu-toggle-icon[aria-expanded="false"] .close-menu-icon{
      display: none;
  }

  .menu-toggle-icon[aria-expanded="true"] .close-menu-icon{
    display: block;
}
  
  .menu-toggle-icon[aria-expanded="true"] .open-menu-icon{
      display: none;
  }
  }

/* .moon-icon{
    display: none;
}

.light-theme .sun-icon{
    display: none;
}

.light-theme .moon-icon{
    display: block;
} */

/* .fancy-border{
    position: relative;
    overflow: hidden;
}

.fancy-border::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: var(--gradient-color);
    background-size: 50% 100%;
    z-index: 5;
} */

.fancy-border span{
    position: relative;
    z-index: 10;
    display: inline-flex;
    background-color: var(--secondary-background-color);
    padding: .6rem 1.5rem;
}


/* Header JavaScript Styles */
.header.activated{
    box-shadow: 0 1px .5rem var(--transparent-light-color);
}

.menu.activated{
    box-shadow: 1px 1px 1rem var(--transparent-light-color);
    opacity: 1;
    transform: scale(1);
}

.menu-toggle-icon.activated .open-menu-icon{
    display: none;
}

.menu-toggle-icon.activated .close-menu-icon{
    display: block;
}

ul li ul{
display: none;
}

/* Search */
/* .search-form-container{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-color: var(--primary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
} */

/* .form-container-inner{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    text-align: center;
} */

/* .form{
    display: flex;
    justify-content: center;
} */

/* .form-input,
.form-btn{
    display: inline-block;
    outline: none;
    border: 2px solid var(--secondary-background-color);
    padding: 1.5rem;
    color: var(--light-color-alt);
} */

/* .form-input{
    border-right: none;
    width: 100%;
    background-color: var(--primary-background-color);
} */

/* .form-btn{
    margin-left: -.5rem;
    border-left: none;
    background-color: var(--secondary-background-color);
    text-transform: uppercase;
    width: 8rem;
} */

/* .form-note{
    font-size: var(--font-size-xsm);
    align-self: flex-end;
} */

/* .form-close-btn{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    border: 2px solid var(--secondary-background-color);
    width: 4rem;
    height: 4rem;
    display: flex;
} */

/* Form JavaScript styles */
/* .search-form-container.activated{
    opacity: 1;
    transform: scale(1);
} */

/* Footer */
.footer{
    background-color: var(--secondary-background-color);
    padding: 2rem 0rem;
}

.footer-container{
    gap: var(--gap);
    grid-template-columns: repeat(4, 1fr);
}

.footer-title{
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    margin-bottom: var(--margin-sm);
}

.footer-list{
    flex-direction: column;
    align-items: flex-start;
}

.footer-col ul li a{
    transition: all .18s ease;
}

.footer-list a:hover {
    padding-left: 5px;;
}

.company-data{
    display: flex;
    flex-direction: column;
    order: 1; 
    flex-wrap: wrap;
}

.company-description{
    margin-block: var(--margin-sm);
    max-width: 75%;
    /* flex-wrap: wrap; */
}

.social-media{
    margin-bottom: var(--margin-md);
}

/* .social-media li a{
    transition: all .18s ease;
}

.social-media li a:hover{
    padding-left: 3px;
} */

.copyright-notice{
    opacity: .8;
    margin-top: auto;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 1rem;
}
  
::-webkit-scrollbar-track {
    background: var(--primary-background-color);
}
  
::-webkit-scrollbar-thumb {
    background: #3f4254;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #2e303b;
}
  
/*media queries*/ 
 /*@media screen and (min-width: 700px) {
    .company-data{
        order: 0;
    }
} */

@media screen and (max-width: 535px) {
    .company-data{
        grid-column: span 3;
        /* grid-template-columns: auto auto auto; */
        padding-top: 1rem;
    } 
}

/* @media screen and (min-width: 1050px) {
    .menu{
        position: static;
        margin-left: -2em;
        width: initial;
        padding: initial;
        background-color: transparent;
        opacity: 1;
        transform: scale(1);
    }

    .menu > .list{
        flex-direction: row;
    }

    .screen-lg-hidden{
        display: none;
    }

    .screen-sm-hidden{
        display: block;
    }

}  */

  /* reminder */
  .reminder {
    display: flex;
    flex-direction: column;
    z-index: 2;
    max-width: 45rem;
    position: fixed;
    bottom: 20px;
    right: 10px;
    background-color: hsl(224 10% 14% / .99);
    color: var(--light-color);
    border: 2px;
    border-radius: 1rem;
    border-color: var(--secondary-background-color);
    padding: 1.5rem 1.5rem;
    color: inherit;
    transform: translateX(0%);
    transition: transform 500ms ease-in;
  }

  @supports (backdrop-filter: blur(3rem)){
    .reminder{
      background: hsl(224 10% 12% / .6);
      backdrop-filter: blur(2.5rem);
  }
}

.reminder[reminder-data-visible="false"]{
    transform: translateX(110%);
}

.reminder-top{
    display: inline-flex;
    justify-content: space-between;
    /* flex-direction: row; */
}

  .reminder-closebtn {
    /* margin-left:auto; */
    margin-top: -9px;
    font-weight: bold;
    
    /* float: inline-start; */
    /* float: right; */
    font-size: 30px;
    /* line-height: 20px; */
    cursor: pointer;
  }

  .reminder-closebtn:hover {
    color: var(--light-color);
  }
