.content{
    justify-content: center;
    display: flex;
    overflow:auto;
}

.content ul{
    padding: 0rem;
    margin: 0rem;
}

.content ul li{
    float:none;
    justify-content: center;
    margin: 0rem 1rem 2rem 0rem;
}

#book{
    justify-content: center;
    padding: 1rem;
}

h3{
   padding-bottom: 1px;
}

.book-name{
    text-decoration: underline;
}