:root{
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
    letter-spacing: 1px;
    transition: background-color .25s,color .25s;
    /* justify-content: center;
    align-items: center; */ 
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

input,
button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  outline: none;
}

/* icons */
i{
    font-size: var(--font-size-md);
    padding: 1rem;
}

/* hover effect on links & buttons*/
.list-link:hover,
.btn:hover,
.btn:hover span{
    color: var(--light-color);
}


/* Reusable classes */
.container{
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.d-grid{
    display: grid;
}

.logo{
    font-size: var(--font-size-md);
    color: var(--light-color);
}


/* header */
.header{
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}

.primary-navbar{
  display:flex;
    gap: var(--gap);
  list-style:none;
}

.menu-toggle-icon{
    display: none;
}

/* menu on smaller screens */
@media (max-width : 63em){
  .primary-navbar{
    z-index: 9999;
    position: fixed;
    inset: 0 0 0 35%;
    padding: min(30vh, 10rem) 2em;
    gap: 2rem;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: hsl(224 13% 30% / .1);
    
    transform: translateX(100%);
    transition: transform 300ms ease-out;
  }
  
  @supports (backdrop-filter: blur(.4rem)){
    .primary-navbar{
    backdrop-filter: blur(.4rem);
  }
}

.primary-navbar[data-visible="true"]{
    transform: translateX(0%);
}

.menu-toggle-icon{
    display: block;
    position: relative;
    z-index: 99999;
}

.menu-toggle-icon[aria-expanded="false"] .close-menu-icon{
    display: none;
}

.menu-toggle-icon[aria-expanded="true"] .open-menu-icon{
    display: none;
}

}

/* footer */
.footer{
    background-color: var(--secondary-background-color);
    padding: 2rem 0rem;
}

.footer-container{
    gap: var(--gap);
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-title{
    font-size: var(--font-size-sm);
    text-transform: uppercase;
    /* text-decoration: underline; */
    margin-bottom: var(--margin-sm);
}

.footer-list{
    flex-direction: column;
    gap: var(--gap);
    /* align-items: flex-start; */
}

.footer-list li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col{
    width: 25%;
    padding: 0 2rem;
}

.footer-col ul li a{
    transition: all .05s ease;
}

.footer-list a:hover {
    padding-left: 3px;;
}

.company-data{
    display: flex;
    flex-direction: column;
    order: 1; 
    /* flex-wrap: wrap; */
}

/* @media screen and (max-width: 500px) {
    .company-data{
        grid-column: span 3;
        padding-top: 1rem;
    } 
} */

.company-description{
    margin-block: var(--margin-sm);
    /* max-width: 75%; */
    /* flex-wrap: wrap; */
}

.social-media{
    margin-bottom: var(--margin-md);
    display: flex;
}

.copyright-notice{
    opacity: .8;
    margin-top: auto;
}

/* .footer-container{
    grid-template-columns: repeat(3, 1fr);
} */

@media screen and (max-width: 65em){
    .footer-col{
        width: 50%;
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 25em){
    .footer-col{
        width: 100%;
        margin-bottom: 3rem;
    }
}