.content{
    justify-content: center;
} 

.content DL{
    padding: 0rem;
    margin: 0rem;
}

.content DL DT{
    float:none;
    justify-content: center;
    margin: 0rem 1rem 1rem 0rem;
}



#content-block{
    justify-content: center;
    padding: 1rem;
}

h3{
   padding-bottom: 1px;
}

.content-block-name{
    text-decoration: underline;
}