/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Custom properties */
:root{
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}

/* Base styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html{
    font-size: 62.5%;
} */
/* 
body{
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
    letter-spacing: 1px;
    transition: background-color .25s,color .25s;
    justify-content: center;
    align-items: center;
} */
/* 
a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
} */

/* input,
button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  outline: none;
}

i{
    font-size: var(--font-size-md);
} */
/* Theme color change */
/* body.light-theme{
    --light-color: #3d3d3d;
    --light-color-alt: rgba(0,0,0,.6);
    --primary-background-color: #fff;
    --secondary-background-color: #f1f1f1;
    --hover-light-color: #fff;
    --transparent-dark-color: var(--secondary-background-color);
    --transparent-light-color: rgba(0,0,0,.1);
} */

/* new stuff here */
/* .content{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

#content-block{
    margin: 1.25rem;
    width:auto;
    height: auto;
    background-color: var(--secondary-background-color);
    display: flexbox;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    flex-grow: 1;
    flex-shrink: 1;
} 
*/
.content{
    padding-top: 4.1rem;
}

 .content DL{
    padding: 1rem;
    margin: 0rem;
}

H3{
  font-size: var(--font-size-sm);
  padding-top: 1rem;  
  text-decoration: underline;
}

DL DL DT{
    padding-left: .75rem;
}
/*
.content DL DT{
    float:none;
    justify-content: center;
    margin: 0rem 1rem 1rem 0rem;
}*/

DT > a:hover{
    color: var(--light-color);
}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    /* background-color: #eee;
    color: #444; */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: var(--secondary-background-color);
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: var(--primary-background-color);
    display: none;
    overflow: hidden;
  }

  /* reminder */
.reminder {
    display: flex;
    flex-direction: column;
    z-index: 2;
    max-width: 45rem;
    position: fixed;
    bottom: 20px;
    right: 10px;
    background-color: hsl(224 10% 14% / .99);
    color: var(--light-color);
    border: 2px;
    border-radius: 1rem;
    border-color: var(--secondary-background-color);
    padding: 1.5rem 1.5rem;
    color: inherit;
    transform: translateX(0%);
    transition: transform 500ms ease-in;
  }

  @supports (backdrop-filter: blur(3rem)){
    .reminder{
      background: hsl(224 10% 12% / .6);
      backdrop-filter: blur(2.5rem);
  }
}

.reminder[reminder-data-visible="false"]{
    transform: translateX(110%);
}

.reminder-top{
    display: inline-flex;
    justify-content: space-between;
    /* flex-direction: row; */
}

  .reminder-closebtn {
    /* margin-left:auto; */
    margin-top: -9px;
    font-weight: bold;
    
    /* float: inline-start; */
    /* float: right; */
    font-size: 30px;
    /* line-height: 20px; */
    cursor: pointer;
  }

  .reminder-closebtn:hover {
    color: var(--light-color);
  }